# SPDX-FileCopyrightText: 2021-2024 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: Unlicense

/build/

# Data - RDF/Turtle files
#/build/data/

# Apache Jena RDF triple-store dir
#/build/rdf_db/

# Apache Jena Fuseki runtime config and cache
#/build/run/
